<div class="p-10">
  <p-toolbar>
    <ng-template #start>
      <button
        pButton
        label="New"
        icon="pi pi-plus"
        class="p-button-success"
        (click)="openNew()"
      ></button>
    </ng-template>
    <ng-template #end>
      <div class="flex flex-row gap-2">
        <input pInputText id="search" type="text" [(ngModel)]="searchTerm" />
        <button
          pButton
          icon="pi pi-download"
          class="p-button-rounded p-button-info mr-2"
          (click)="download()"
        ></button>
        <p-fileUpload
          name="jsonFile"
          accept=".json"
          chooseLabel="Import JSON File"
          customUpload="true"
          (uploadHandler)="onJsonFileSelected($event)"
          [auto]="true"
          [showUploadButton]="false"
          [showCancelButton]="false"
          [maxFileSize]="5000000"
          styleClass="border-none w-full"
          mode="basic"
        ></p-fileUpload>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="filteredPasswords()"
    [paginator]="true"
    [rows]="50"
    [rowsPerPageOptions]="[50, 100]"
    showGridlines
    tableStyleClass="mt-15"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Secret</th>
        <th>Notes</th>
        <th>Other Information</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pass>
      <tr>
        <td>
          <div class="flex flex-row justify-between gap-2">
            <b>{{ pass.username }}</b>
            <i
              class="pi pi-copy cursor-pointer"
              (click)="copyToClipboard(pass.username)"
            ></i>
          </div>
        </td>
        <td>
          <div class="flex flex-row justify-between gap-2">
            <b>*********</b>
            <i
              class="pi pi-copy cursor-pointer"
              (click)="copyToClipboard(pass.secret)"
            ></i>
          </div>
        </td>
        <td>{{ pass.notes }}</td>
        <td>
          @if (pass.otherKeys?.length) {
          <ul class="p-m-0 p-pl-2" style="list-style-type: none">
            @for (kv of pass.otherKeys; track $index) {
            <li>
              <strong>{{ kv.key }} :</strong> {{ kv.value }}
            </li>
            }
          </ul>
          }@else {
          <i>No other keys</i>
          }
        </td>
        <td>
          <div class="flex flex-row gap-2">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info mr-2"
              (click)="editPassword(pass)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deletePassword(pass)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Create/Edit Dialog -->
  <p-dialog
    header="Password Details"
    [(visible)]="passwordDialog"
    [modal]="true"
    [style]="{ width: '800px' }"
  >
    <div class="flex flex-col gap-4 p-4">
      <!-- Username & Secret side by side on md+, stacked on small screens -->
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col flex-1 gap-1">
          <label for="username" class="font-medium">Username</label>
          <input
            pInputText
            id="username"
            type="text"
            [(ngModel)]="password.username"
            class="w-full"
          />
        </div>

        <div class="flex flex-col flex-1 gap-1">
          <label for="secret" class="font-medium">Secret</label>
          <input
            pInputText
            id="secret"
            type="text"
            [(ngModel)]="password.secret"
            class="w-full"
          />
        </div>
      </div>

      <!-- Notes full width -->
      <div class="flex flex-col gap-1">
        <label for="notes" class="font-medium">Notes</label>
        <textarea
          pTextarea
          id="notes"
          rows="3"
          [(ngModel)]="password.notes"
          class="w-full"
        ></textarea>
      </div>

      <!-- Header for Other Information with Add button -->
      <div class="flex justify-between items-center">
        <h2 class="text-lg font-semibold">Other Information</h2>
        <button
          pButton
          icon="pi pi-plus"
          class="p-button-rounded p-button-sm"
          (click)="addOtherInfo()"
          aria-label="Add other info"
        ></button>
      </div>

      <!-- Other Information key-value pairs -->
      <div class="flex flex-col gap-3">
        @for (item of password.otherKeys; track $index) {
        <div class="flex flex-col md:flex-row md:items-end gap-3">
          <div class="flex flex-col flex-1 gap-1">
            <label [for]="'key' + $index" class="font-medium">Key</label>
            <input
              pInputText
              [id]="'key' + $index"
              type="text"
              [(ngModel)]="item.key"
              class="w-full"
            />
          </div>

          <div class="flex flex-col flex-1 gap-1">
            <label [for]="'value' + $index" class="font-medium">Value</label>
            <input
              pInputText
              [id]="'value' + $index"
              type="text"
              [(ngModel)]="item.value"
              class="w-full"
            />
          </div>

          <div class="flex items-center md:items-end">
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-sm"
              (click)="removeOtherInfo($index)"
              aria-label="Remove other info"
            ></button>
          </div>
        </div>
        }
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-3 mt-5">
        <button
          pButton
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="passwordDialog = false"
        ></button>
        <button
          pButton
          label="Save"
          icon="pi pi-check"
          class="p-button-primary"
          (click)="savePassword()"
        ></button>
      </div>
    </div>
  </p-dialog>

  <!-- Delete Confirmation -->
  <p-dialog
    header="Confirm"
    [(visible)]="deleteDialog"
    [modal]="true"
    [style]="{ width: '350px' }"
  >
    <p>
      Are you sure you want to delete <b>{{ password.username }}</b
      >?
    </p>
    <div class="mt-5 flex justify-end gap-2">
      <button
        pButton
        label="No"
        icon="pi pi-times"
        class="p-button-text"
        (click)="deleteDialog = false"
      ></button>
      <button
        pButton
        label="Yes"
        icon="pi pi-check"
        class="p-button-danger"
        (click)="confirmDelete()"
      ></button>
    </div>
  </p-dialog>
</div>
